<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94486176281-2trbksq2jp9bfhv3ktilob1rk990oct6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94486176281-2trbksq2jp9bfhv3ktilob1rk990oct6</string>
	<key>API_KEY</key>
	<string>AIzaSyBQsf0hhE1MvtDlYObcn4o7EPWM1BNsheY</string>
	<key>GCM_SENDER_ID</key>
	<string>94486176281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.durintech.japaplatform</string>
	<key>PROJECT_ID</key>
	<string>japa-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>japa-platform.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94486176281:ios:00ed02ae87ef60cddec088</string>
</dict>
</plist>
